doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Landing Page Travel

    // BOX ICONS 
    link(rel="stylesheet", href="./node_modules/boxicons/css/boxicons.min.css")

    // SWIPER CSS
    link(rel="stylesheet", href="./node_modules/swiper/swiper-bundle.min.css")

    // CSS
    link(rel="stylesheet", href="./assets/scss/index.css")
  body

    // HEADER
    header.header
      nav.header-nav.bd-container
        a.header-nav__logo(href="") Travel
        .header-nav__menu#nav-menu
          ul.header-nav__list
            each val, i in ['Home', 'Explore','Destinations', 'Hotels']
              li.nav__item
                a.nav__link(href="#")=val

        .header-nav__toggle#nav-toggle
          i.bx.bx-menu

    // main
    main.main
      // Slider main container
      div.swiper.mySwiper2
        // Additional required wrapper
        div.swiper-wrapper
          // Islands
          each val, key in [{subtitle: 'Islands 1', title: 'Lorem, ipsum', description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quae aliquid voluptas provident cumque quam', image: './assets/img/01.jpg'}, {subtitle: 'Islands 2', title: 'Lorem, ipsum', description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quae aliquid voluptas provident cumque quam', image: './assets/img/02.jpg'}, {subtitle: 'Islands 3', title: 'Lorem, ipsum', description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quae aliquid voluptas provident cumque quam', image: './assets/img/03.jpg'}]
            // Slides 
            section.islands.swiper-slide
              img(src= val.image, alt="").islands__bg
              .islands__container.bd-container
                .islands__data
                  h2.islands__subtitle= val.subtitle
                  h1.islands__title= val.title
                  p.islands__description= val.description
                  a.islands__button(href="#") Explore
                    i.bx.bx-right-arrow-alt.islands__button-icon

                .islands__video
                  .islands__video-content
                    i.bx.bx-play-circle.islands__video-icon
          
          // ISLANDS POPUP
          .islands__popup#popup
            div 
               .islands__popup-close#popup-close
                 i.bx.bx-x
               iframe(class="islands__popup-video" src="https://www.youtube.com/embed/6GBVaHH_6bQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

      // CONTROLS
      .controls.mySwiper
        .controls__container.swiper-wrapper
          each val in [{image: './assets/img/01.jpg'}, {image: './assets/img/02.jpg'}, {image: './assets/img/03.jpg'}]
            img(src=val.image , alt="").controls__img.swiper-slide 

    // GSAP
    script(src="./node_modules/gsap/dist/gsap.min.js") 

    // SWIPER JS
    script(src="./node_modules/swiper/swiper-bundle.min.js") 

    // JS
    script(src="./assets/js/index.js") 